<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<p>
  <%= @product.name %>
</p>
<p>
  <%= @product.description %>
</p>
<p>
  <%= @product.formatted_price %>
</p>

<%= link_to "edit", "/products/#{@product.id}/edit" %>
<%= link_to "index", "/products" %>
<%= link_to "delete", @product, method: :delete, data: {confirm: "Are you sure?"} %>
